# 1. Import CSV Data into Python

In [1]:
import pandas as pd

In [2]:
url =  "http://www.tmr.qld.gov.au/~/media/aboutus/corpinfo/Open%20data/crash/driverdemographics.csv"
df = pd.read_csv(url) #it assumes the data has headers,else specify header=None

## Look at data frame to get a better intution about data

In [3]:
df.head() #df.head(n) to show top n rows of data frame

,Crash_Year,Crash_Police_Region,Crash_Severity,Involving_Male_Driver,Involving_Female_Driver,Involving_Young_Driver_16-24,Involving_Senior_Driver_60plus,Involving_Provisional_Driver,Involving_Overseas_Licensed_Driver,Involving_Unlicensed_Driver,Count_Crashes,Count_Casualty_Fatality,Count_Casualty_Hospitalised,Count_Casualty_MedicallyTreated,Count_Casualty_MinorInjury,Count_Casualty_All
0,2001,Brisbane,Fatal,No,No,No,No,No,No,No,1,1,0,0,0,1
1,2001,Brisbane,Fatal,No,Yes,No,No,No,No,No,5,5,1,0,0,6
2,2001,Brisbane,Fatal,No,Yes,No,Yes,No,No,No,4,4,0,2,0,6
3,2001,Brisbane,Fatal,No,Yes,No,Yes,No,No,Yes,1,1,0,0,0,1
4,2001,Brisbane,Fatal,No,Yes,No,Yes,Yes,No,No,1,1,1,0,0,2

In [4]:
df.tail() #df.tail(n) to show bottom n rows of data frame

,Crash_Year,Crash_Police_Region,Crash_Severity,Involving_Male_Driver,Involving_Female_Driver,Involving_Young_Driver_16-24,Involving_Senior_Driver_60plus,Involving_Provisional_Driver,Involving_Overseas_Licensed_Driver,Involving_Unlicensed_Driver,Count_Crashes,Count_Casualty_Fatality,Count_Casualty_Hospitalised,Count_Casualty_MedicallyTreated,Count_Casualty_MinorInjury,Count_Casualty_All
14193,2018,Southern,Minor injury,Yes,Yes,Yes,No,No,No,No,11,0,0,0,13,13
14194,2018,Southern,Minor injury,Yes,Yes,Yes,No,No,No,Yes,1,0,0,0,1,1
14195,2018,Southern,Minor injury,Yes,Yes,Yes,No,Yes,No,No,21,0,0,0,25,25
14196,2018,Southern,Minor injury,Yes,Yes,Yes,Yes,No,No,No,1,0,0,0,1,1
14197,2018,Southern,Minor injury,Yes,Yes,Yes,Yes,Yes,No,No,3,0,0,0,4,4

# 2. Start analyzing data with python

In [6]:
df.dtypes

Crash_Year                             int64
Crash_Police_Region                   object
Crash_Severity                        object
Involving_Male_Driver                 object
Involving_Female_Driver               object
Involving_Young_Driver_16-24          object
Involving_Senior_Driver_60plus        object
Involving_Provisional_Driver          object
Involving_Overseas_Licensed_Driver    object
Involving_Unlicensed_Driver           object
Count_Crashes                          int64
Count_Casualty_Fatality                int64
Count_Casualty_Hospitalised            int64
Count_Casualty_MedicallyTreated        int64
Count_Casualty_MinorInjury             int64
Count_Casualty_All                     int64
dtype: object

In [7]:
df.describe() #statistical summary of each column to learn about the distribution of data in each column

,Crash_Year,Count_Crashes,Count_Casualty_Fatality,Count_Casualty_Hospitalised,Count_Casualty_MedicallyTreated,Count_Casualty_MinorInjury,Count_Casualty_All
count,14198.000000,14198.000000,14198.000000,14198.000000,14198.000000,14198.000000,14198.000000
mean,2008.356740,23.119242,0.368291,7.986900,9.389773,4.910551,22.655515
std,4.998528,47.076589,1.873344,30.004223,33.122069,15.729744,48.717517
min,2001.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2004.000000,2.000000,0.000000,0.000000,0.000000,0.000000,1.000000
50%,2008.000000,5.000000,0.000000,0.000000,0.000000,0.000000,4.000000
75%,2012.000000,22.000000,0.000000,2.000000,4.000000,3.000000,18.000000
max,2018.000000,486.000000,42.000000,465.000000,480.000000,318.000000,513.000000

In [8]:
df.describe(include='all') #unique is the number of distinct objects in the column, top is most frequently occurring object,
#freq, number of times the top object appears, NaN : not a number

,Crash_Year,Crash_Police_Region,Crash_Severity,Involving_Male_Driver,Involving_Female_Driver,Involving_Young_Driver_16-24,Involving_Senior_Driver_60plus,Involving_Provisional_Driver,Involving_Overseas_Licensed_Driver,Involving_Unlicensed_Driver,Count_Crashes,Count_Casualty_Fatality,Count_Casualty_Hospitalised,Count_Casualty_MedicallyTreated,Count_Casualty_MinorInjury,Count_Casualty_All
count,14198.000000,14198,14198,14198,14198,14198,14198,14198,14198,14198,14198.000000,14198.000000,14198.000000,14198.000000,14198.000000,14198.000000
unique,NaN,6,5,2,2,2,2,2,2,2,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,Brisbane,Hospitalisation,Yes,Yes,Yes,No,No,No,No,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,3027,3655,10029,8642,7182,9205,9608,12273,10398,NaN,NaN,NaN,NaN,NaN,NaN
mean,2008.356740,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.119242,0.368291,7.986900,9.389773,4.910551,22.655515
std,4.998528,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47.076589,1.873344,30.004223,33.122069,15.729744,48.717517
min,2001.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2004.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.000000,0.000000,0.000000,0.000000,0.000000,1.000000
50%,2008.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.000000,0.000000,0.000000,0.000000,0.000000,4.000000
75%,2012.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.000000,0.000000,2.000000,4.000000,3.000000,18.000000
max,2018.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,486.000000,42.000000,465.000000,480.000000,318.000000,513.000000

# 3. Data Wrangling

For the purpose of data wrangling I will start working with another dataset that has missing values.

In [1]:
import pandas as pd
import matplotlib.pylab as plt